//Defining site defaults
html, body, .container{
  background-color: white;
}#wrapper{
  margin: 1px auto;
  width: 95%;
  height: 680px;
  border: 1px solid white;;
}// Defining system default logical structure
#pg_header,#pg_navigator,#def_content,#pg_footer{
  margin: 1.5px auto;
  width: 99.9%;
  border: 1px solid white;
}#pg_header{
  height: 105px;
}#pg_navigator,#pg_footer{
  height: 52.5px;
}#def_content{
  height: 442.5px;
}#pg_footer{

}
// Defining default site header configuration settings
#site_header,#logo,#emblem,#slogan{
  border: 1px solid white;
}#site_header{
  margin: 2px 1px;
  width: 600px;
  height: 100px;
}#logo{
  margin: 1px -15px;
  width: 100px;
  height: 95px;
  position: absolute;
}#emblem{
  margin: 1px 87.5px;
  width: 87.5%;
  height: 75px;
}#logo img,#emblem img{
  margin: 0 auto;
  width: 99.9%;
}#logo img{
  height: 94.5px;
}#emblem img{
  height: 74.5px;
}#slogan{
  margin: 1px auto;
  height: 20px;
  width: 47.5%;
}.siteSlogan{
  margin: 1.5px auto;
  font-weight: 1.15em;
  color: inherit;
}
// Defining custom settings for the site nav
.navbar{
  border-radius: 0;
  min-width: 600px;
  background-color: default;
}#navbar,#navbar ul{
  margin: 1px 1px;
  height: 45px;
  border: none;
}#navbar{
  width: 50%;
}#navbar ul{
  width: 99.9%;
  margin-left: -10px;
}#navbar ul li{
  margin: 1px 1.5px;
  width: 75px;
  height: 40px;
  border: none;
}#navbar ul li h2{
  margin: -2.5px -3.5px;
  font-size: 1.05em;
  font-weight: bolder;
  text-transform: capitalize;
  color: gray;
}#navbar ul li h2:hover{
  color: white;
  transition: all 0.5s;
}
// Custom font settings for sub-systems
#subSys,#sysBtn{
  border: none;
}#subSys{
  margin: 9px 2.5px;
  width: 45px;
  height: 25px;
}#sysBtn{
  margin: 1px auto;
  width: 99.5%;
  height: 20.5px;
}#sysBtn h3{
  margin: -15px 5px;
  color: gray;
  font-size: 1.05em;
}#sysBtn h3:hover{
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
// Defining custom settings for index(sub-system) drop down menu
// The div container needed to position the dropdown menu
.dropdown{
  margin-top: 2px;
  position: relative;
  display: inline-block;
  background-color: default;
  border: none;
}
// Drop-down button
.dropbtn{
  margin-top: 2px;
  background-color: inherit;
  color: silver;
  padding: 2px;
  border: none;
  height: 25px;
}
// The Drop-down content (Hidden by default)
.dropdown-list{
  margin-top: 2px;
  width: 99.9%;
  overflow: auto;
  display: none;
  position: absolute;
  background-color: silver;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
// Custom links for the links inside Drop-down
.dropdown-list a{
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
}
// Change color of dropdown links on hover
.dropdown-list a:hover{
  background-color: #ddd;
}
// To show the dropdown menu on user click(use JS to add this class to
// the dropdown content container when the user clicks on the button)
.show{
  display: block;
}
// Defining custom settings for page content Section
// Applied same configuration structure to the system home page
#def_login{
  margin: 1.5px auto;
  width: 99.9%;
  min-width: 1100px;
  height: 435px;
  border: none;
}
// Defining custom settings for sub-system login pages
// Applied same configuration structure to the system home page
#dataSummary{
  //This is universal to the system
  margin: 1.5px -15.5px;
  width: 55%;
  min-width: 550px;
  height: 430px;
  border: 1px solid white;
  position: absolute;
}
#sysLogin{
  margin: 1px -10px;
  width: 40%;
  height: 430px;
  border: 1px solid white;
  float: right;
}#sysLogin header{
  margin: 1px auto;
  width: 95.9%;
  height: 37.5px;
  border: none;
}#sysLogin h3, #dataSummary h3{
// This settings are universal across the system
  margin-top: 2.5px;
  font-size: 1.5em;
}
// Defining custom settings for the site footer
#footer{
  margin: 1.5px auto;
  width: 99.9%;
  min-width: 600px;
  height: 50px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
}.footer{
  margin: 10px auto;
  width: 35%;
  height: 35px;
  border: none;
  background-color: inherit;
}#copyright, #tnc{
  width: 99.9%;
  border: none;
}#copyright{
  margin: 1px auto;
  height: 20px;
}#tnc{
  margin: 1px auto;
  height: 12px;
}
// Footer Headings
#copyright h5,#tnc h6{
  text-align: center;
  margin-top: -1.5px;
}#copyright h5{
  font-size: 1.15em;
}#tnc h6{
  font-size: 0.85em;
}
// Defining default section header font-settings
// Main Headings
.mainTitle, .main2Title, .main3Title, .main4Title, .main5Title{
  text-align: center;
  color: rgba(65,65,65,0.95);
  text-transform: capitalize;
}.mainTitle{
  font-size: 1.50em;
}.main2Title{
  font-size: 1.40em;
}.main3Title{
  font-size: 1.30em;
}.main4Title{
  font-size: 1.20em;
}.main5Title{
  font-size: 1.15em;
}
// sub Headings
.subTitle, .sub2Title, .sub3Title{
  text-align: center;
  color: rgba(65,65,65,0.95);
  text-transform: capitalize;
}.subTitle{
  font-size: 0.95em;
}.sub2Title{
  font-size: 0.85em;
}.sub3Title{
  font-size: 0.75em;
}
// Section Headings
.secTitle, .sec2Title{
  text-align: center;
  color: rgba(65,65,65,0.95);
}.secTitle{
  font-size: 1.5em;
}.sec2Title{
  font-size: 1.3em;
}
// Text settings
.sysText, .sys2Text,.sys3Text{
  color: default;
  text-align: justify;
}.sysText{
  font-size: 0.75em;
}.sys2Text{
  font-size: 0.85em;
}.sys3Text{
  font-size: 0.95em;
}
